<form class="ui stacked inverted segment form" action="/dashboard/addbookmark" method="POST">
  <div class="field">
    <label>Catagory</label>
    <input placeholder="Catagory" type="text" name="catagory">
  </div>
  <button class="ui grey submit button">Add Bookmark Catagory</button>
</form>