<form class="ui stacked inverted segment form" action="/bookmark/{{bookmark.id}}/addlink" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Address</label>
      <input placeholder="Address" type="text" name="address">
    </div>
    <div class="field">
      <label>Website</label>
      <input placeholder="Website" type="text" name="website">
    </div>
    <br>
    <div class="field">
      <label>Summary</label>
      <input placeholder="Summary" type="text" name="summary">
    </div>
  </div>
  <button class="ui grey submit button">Add Site</button>
</form>