<table class="ui inverted table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each comment.info}}
      <tr>
        <td>
          {{fname}}
        </td>
        <td>
          {{sname}}
        </td>
        <td>
          {{comment}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>