{{> menu id="about"}}

<section class="ui center aligned middle aligned inverted segment">
  <h1>
    A small little project by an up and coming developer.
  </h1>
  <br>
  <h2>
  Contact Details:
  </h2>
  <br>
  <img src="https://cdn.gomix.com/3a94b02b-333c-4623-9712-a191bd206723%2Flocation.png" style="width:450;height:300;">
  <br>
  <p>
  <b>Name:</b> Daniel Quinlan<br>
  <b>Email:</b> fake@Email.com<br>
  <b>Address:</b> Cork Rd, Waterford<br>
  </p> 
  <br>
  <h2>
  Leave a Comment:
  </h2>
  {{> addcomment}}
  {{> listcomments}}
</section>